.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 40px;
  border: 1px solid black;
  width: 350px;
  height: 430px;
}
form > * {
  margin: 2px;
  padding: 10px 15px;
  width: 200px;
}

#button,
#submit,
#save,
.cancel {
  background-color: #58aa58;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
#submit {
  padding: 10px 15px;
  background-color: #092c8e;
  color: white;
  width: 150px;
  margin: 0 auto;
}

#count {
  font-size: 20px;
  font-weight: 200px;
  margin-left: 80px;
}
.err {
  color: red;
  margin: 0px;
}
.right {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 350px;
  height: 430px;
  margin-top: 20px;
  align-content: center;
  justify-content: center;
}
.container2 {
  display: flex;
  margin: 100px 45px;
  flex-wrap: wrap;
}
.item {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 10px 20px;
  width: 200px;
  border: 1px solid gainsboro;
  padding: 0 20px;
}
h1 {
  text-align: center;
}

#check {
  height: 22px;
  width: 22px;
  margin-left: auto;
}
.modal-btn {
  padding: 8px;
  background-color: rgb(42 42 138 / 88%);
  color: white;
  width: 100px;
  margin: 0 auto;
  border: 1px solid;
  margin-bottom: 10px;
  cursor: pointer;
}

.container3 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.container3 > * {
  padding: 15px;
  margin: 5px;
  background-color: #d20000;
  border: 1px solid;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
#deleteone {
  background-color: #c45a00;
}

#summary {
  background-color: rgb(186 164 6);
}
.modal-bg,
.modal-bgdelete {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.bg-active {
  visibility: visible;
  opacity: 1;
}
#modal-up {
  background-color: #fff;
}
#modal-up button {
  display: inline;
  padding: 11px;
  width: 98px;
  display: inline;
  background-color: grey;
  color: white;
  cursor: pointer;
  border: 1px solid #fff;
}

#modal-up #save {
  background-color: #0971b6;
}

.modalDelete {
  border: 1px solid black;
  padding: 25px 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modalDelete button {
  border: 1px solid #fff;
  width: 100px;
  padding: 13px;
  background-color: grey;
  margin-right: 10px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
.modalDelete #delete {
  background-color: #1d247e;
}
